/* STYLES FOR PRIVACY POLICY AND TERMS AND CONDITIONS PAGES */

h1 {
  text-align: center;
  font-size: 2.3rem;
}

h2 {
  font-size: 2rem;
  padding-top: 20px;
}

small {
  display: block;
  text-align: center;
  font-size: 1.2rem;
  padding: 10px 0px 30px 0px;
}

p,
ul {
  font-size: 1.8rem;
  line-height: 1.6;
}

a {
  color: var(--design-detail-color-light);
}

/* MEDIA QUERIES */

@media screen and (min-width: 450px) {
  main {
    margin: 40px;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  small {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 730px) {
  main {
    margin: 50px;
  }

  h1 {
    font-size: 4rem;
  }

  p,
  ul {
    font-size: 2rem;
  }
}
