/* MAIN */

.shop-womens-jackets h1 {
  font-size: 1.9rem;
  text-align: left;
}
p {
  font-size: 2rem;
}
.product-container {
  display: grid;
  grid-template-columns: 1fr;
}
.product-jackets {
  background-color: var(--design-details-color);
  text-align: center;
  margin: 10px;
}
.product-jackets a {
  text-decoration: none;
  color: var(--main-white-color);
}
.product-jackets img {
  width: 100%;
  max-width: 300px;
}

.product-name {
  margin-top: 5px;
}

.product-price {
  font-weight: bold;
}
/* MEDIA SCREENS */

@media screen and (min-width: 375px) {
  .shop-womens-jackets h1 {
    font-size: 2.7rem;
  }
}
@media screen and (min-width: 485px) {
  .product-container {
    grid-template-columns: 1fr 1fr;
  }
  .shop-womens-jackets h1 {
    font-size: 3.6rem;
  }
}

@media screen and (min-width: 613px) {
  main {
    margin: 50px;
  }

  .shop-womens-jackets h1 {
    font-size: 4.8rem;
  }
}
@media screen and (min-width: 750px) {
  .product-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .product-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
