h1 {
  font-size: 2.6rem;
  margin-bottom: 20px;
}

.image-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Hide overflow if necessary */
  flex-grow: 1;
}

#product-image {
  width: auto; /* Ensure it fits within the container */
  height: auto;
  max-width: 100%; /* Prevent the image from exceeding the container width */
  max-height: 500px; /* Set a maximum height if needed */
  border: 1px solid var(--main-white-color);
  border-radius: 8px;
  padding: 20px;
  background-color: var(--main-white-color);
}

.product-details {
  text-align: center;
  margin: 20px;
}

#product-description {
  font-size: 1.5rem;
}

#product-sizes {
  font-weight: bold;
  font-size: 1.5rem;
}

#product-price {
  font-weight: bold;
  font-size: 2.5rem;
}

.cta-button {
  color: var(--main-blue-color);
  background-color: var(--main-white-color);
  padding: 10px 50px;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  margin: 30px auto;
  display: flex;
  border: none;
  box-shadow: 5px 5px 5px black;
}

.cta-button:hover {
  color: var(--main-white-color);
  background-color: var(--main-blue-color);
  border: 2px solid var(--main-white-color);
  transition: ease-in-out 200ms;
}

hr {
  border: 1px solid var(--design-details-color);
  margin-top: 20px;
  margin-bottom: 20px;
}

/* ON SALE PRICES AND BADGES FOR SINGLE PRODUCT*/

.discounted-price {
  color: green;
  font-weight: bold;
  font-size: 2.5rem; /* Adjust font size if needed */
  margin-top: 0px;
  margin-bottom: 0; /* Remove margin below the discounted price */
}

.original-price {
  color: lightgray;
  text-decoration: line-through;
  font-size: 2rem; /* Slightly smaller than the discounted price */
  margin-top: 0; /* Remove margin above the original price */
  margin-bottom: 2px;
}

.price-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Controls the spacing between the two prices and the on sale badge */
  align-items: center; /* Align prices to the left */
}

.on-sale-badge {
  background-color: red;
  color: white;
  font-size: 2rem; /* Slightly larger font for better visibility */
  padding: 4px 8px; /* Adjust padding for size */
  border-radius: 5px; /* Rounded corners */
  margin-bottom: 10px;
}

@media screen and (min-width: 450px) {
  h1 {
    font-size: 4.8rem;
  }

  #product-description,
  #product-sizes {
    font-size: 1.8rem;
  }

  #product-price,
  .discounted-price {
    font-size: 3rem;
  }

  .original-price,
  .on-sale-badge {
    font-size: 2.5rem;
  }

  .cta-button {
    padding: 10px 80px;
    font-size: 3rem;
  }

  hr {
    border: 2px solid var(--design-details-color);
  }
}
@media screen and (min-width: 600px) {
  main {
    margin: 50px;
  }

  .image-container {
    margin: 30px 0px;
  }

  #product-description,
  #product-sizes {
    font-size: 2rem;
  }

  #product-price,
  .discounted-price {
    font-size: 4rem;
  }

  .original-price,
  .on-sale-badge {
    font-size: 3rem;
  }

  .price-wrapper {
    gap: 20px; /* Controls the spacing between the two prices and the on sale badge */
  }

  .cta-button {
    padding: 10px 100px;
    font-size: 4rem;
  }
}
