/* GLOBAL STYLES*/
@import "imports/variables.css";

html {
  font-size: 62.5%;
}
body {
  background-color: var(--main-blue-color);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}
main {
  margin: 30px;
  color: var(--main-white-color);
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--main-white-color);
  color: var(--main-blue-color);
}

nav {
  display: none;
  position: absolute;
  top: 39px;
  right: 0px;
  z-index: 1000;
}

nav ul {
  padding: 0px;
}

nav li {
  display: block;
  padding: 10px 20px;
  background-color: var(--hamburger-menu-list-color);
}

nav a {
  text-decoration: none;
  color: var(--main-blue-color);
  font-size: 1.8rem;
  font-weight: bold;
}

.logo a {
  text-decoration: none;
  color: var(--main-blue-color);
}
.header-logo a img {
  width: 100px;
}

.icons {
  display: flex;
  gap: 10px;
  font-size: 1.8rem;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

.fa-solid,
.fa-brands {
  color: var(--main-blue-color);
}
.fa-cart-shopping:after {
  content: attr(value);
  font-size: 10px;
  color: var(--main-white-color);
  background: var(--main-blue-color);
  border-radius: 50%;
  padding: 3px 5px;
  position: relative;
  left: -8px;
  top: -10px;
  opacity: 0.9;
}
.search-container {
  position: relative;
}

.toggle-search-checkbox {
  display: none;
}

.search-icon {
  cursor: pointer;
}

.search-dropdown {
  position: absolute;
  top: 100%;
  left: -150px;
  display: none;
  z-index: 1000; /* Set a higher z-index value */
}

.toggle-search-checkbox:checked + .search-icon + .search-dropdown {
  display: block;
}

.search-input {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--main-blue-color);
  border-radius: 5px;
  outline: none;
}

/* FOOTER */

footer {
  background-color: var(--main-white-color);
  color: var(--main-blue-color);
  padding: 0px 20px;
  margin-top: 50px;
}

footer li {
  margin-bottom: 5px;
  font-size: 1.4rem;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
}

.footer-column {
  flex: 1;
  margin-bottom: 20px;
}

.footer-column h4 {
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column a {
  text-decoration: none;
  color: var(--main-blue-color);
}

.social-media-list li {
  margin-bottom: 10px;
}

form {
  max-width: 400px;
  margin-top: 10px;
  background-color: var(--main-blue-color);
  border-radius: 8px;
  padding: 5px;
}

.form-group input {
  padding: 10px 25px;
  border: none;
  border-radius: 8px 0 0 8px;
  background-color: var(--main-blue-color);
  color: #e7ebec;
}
.subscribe {
  max-width: 300px;
}
.subscribe form button {
  background-color: var(--main-white-color);
  color: var(--main-blue-color);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}
.subscribe h4 {
  font-size: 1.6rem;
}
.subscribe p {
  font-size: 1.4rem;
  margin-bottom: 30px;
}
.footer-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-logo img {
  width: 100px;
  height: auto;
  margin: 30px 0px;
}

/* MEDIA SCREENS */
@media screen and (max-width: 599px) {
  /* MEDIA QUERY HEADER */

  .header-logo {
    display: flex;
    flex-grow: 1;
  }
  i.hamburger-menu {
    display: flex; /* Show the hamburger menu on smaller screens */
    font-size: 1.8rem;
  }
  .menu {
    display: flex;
    order: 1;
    padding-left: 2px;
  }
  nav li {
    border: 2px solid var(--hamburger-menu-list-color);
  }
  /* MEDIA QUERY FOOTER */
  .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .footer-bottom {
    display: grid;
  }
  form {
    max-width: 250px;
  }
  .form-group {
    display: flex;
    justify-content: center;
  }
  .form-group input {
    padding: 5px 10px;
  }
  .footer-logo {
    display: flex;
    justify-content: center;
  }
  .subscribe p {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 600px) {
  /* MEDIA QUERY HEADER */

  i.hamburger-menu {
    display: none; /* Hide the hamburger menu on larger screens */
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-white-color);
    color: var(--main-blue-color);
    padding: 15px;
  }

  nav {
    display: flex;
    position: static;
  }

  nav li {
    display: inline-block;
    padding: 10px;
    font-size: 1.8rem;
    background-color: var(--main-white-color);
  }

  .header-logo a img {
    width: 100px;
    height: auto;
  }

  .icons {
    font-size: 1.8rem;
  }

  /* MEDIA QUERY FOOTER */

  .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .footer-logo img {
    width: 150px;
  }
}

@media screen and (min-width: 1023px) {
  /* MEDIA QUERY HEADER */
  nav li {
    padding: 10px 30px;
  }
  /* MEDIA QUERY FOOTER */

  .footer-container {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1279px) {
  /* MEDIA QUERY HEADER */
  nav li {
    padding: 10px 50px;
  }
}
